#wrapper {
  margin: 0 auto;
  padding: 12px 20px 0 20px;
  text-align: left; }
  #wrapper #main-content {
    width: 68%;
    float: left; }
    #wrapper #main-content .bloc {
      background: #ffffff url('../images/right-bg.gif') repeat-y right;
      padding: 0 8px 0 0; }
      #wrapper #main-content .bloc .header {
        background: #EDF3FE;
        padding: 10px 20px; }
        #wrapper #main-content .bloc .header h1 {
          color: #000000;
          font-size: 14px;
          font-family: "Lucida Grande",arial,sans-serif;
          margin: 0;
          padding: 0;
          display: inline; }
          #wrapper #main-content .bloc .header h1 span {
            float: left; }
          #wrapper #main-content .bloc .header h1 .sub-tabs {
            color: #CCCCCC;
            font-size: 12px;
            float: left;
            margin: 0 0 0 5px;
            float: left; }
          #wrapper #main-content .bloc .header h1 .actions {
            float: right;
            font-size: 12px;
            display: inline;
            float: right; }
      #wrapper #main-content .bloc .content {
        background: #ffffff;
        padding: 20px; }
        #wrapper #main-content .bloc .content h2 {
          color: #333333;
          font-size: 14px;
          font-family: "Lucida Grande",arial,sans-serif;
          margin: 0;
          padding: 0;
          display: inline; }
          #wrapper #main-content .bloc .content h2 span {
            float: left; }
          #wrapper #main-content .bloc .content h2 .right {
            font-size: 11px;
            text-align: right;
            float: right;
            color: #555555;
            font-weight: normal; }
        #wrapper #main-content .bloc .content p {
          font-size: 12px;
          line-height: 16px; }
    #wrapper #main-content .bloc-bottom {
      background: transparent url(../images/bottom-bg.gif) no-repeat scroll right top;
      height: 7px;
      margin: 0 0 30px 0; }
  #wrapper #sidebar {
    width: 32%;
    float: left; }
    #wrapper #sidebar .bloc {
      margin: 0 0 0 5px; }
      #wrapper #sidebar .bloc h2 {
        border-bottom: 1px solid #DCDCDC;
        color: #333333;
        font-size: 12px;
        font-weight: bold;
        margin: 0;
        padding: 2px 5px;
        background: #F0F0F0; }
      #wrapper #sidebar .bloc p {
        font-size: 12px;
        line-height: 1.4em;
        margin: 0 0 20px;
        padding: 10px 5px; }

#wrapper-clear {
  clear: both; }
