%h2.tabs
  %ul
    %li
      %a{:href => '#'} tab 1
      %a.current{:href => '#'} tab 2
      %a{:href => '#'} tab 3
      %a{:href => '#'} tab 4
      %a.float-right{:href => '#'} tab 7
      %a.float-right{:href => '#'} tab 6
      %a.float-right{:href => '#'} tab 5