%h2
  %ul
    %li
      %a{:href => '/new'} Form
      %a.current{:href => '/index'} Simple
      %a{:href => '/table'} Table
      %a{:href => '#'} tab 4
      %a.float-right{:href => '#'} tab 7
      %a.float-right{:href => '#'} tab 6
      %a.float-right{:href => '#'} tab 5