!!! Strict
%html
  %head
    %title nice-layout
    = stylesheets
  %body
    #header
      %h3
        %a{:href => '#'} link1
      %h1 Nice Layout Staticmatic
      = partial 'tabs'
    #wrapper
      = yield
    #wrapper-clear