!!! Strict
%html
  %head
    %title nice-layout
    = stylesheets
  %body
    #header
      %h3
        %a{:href => '#'} link1
      %h1 Nice Layout Staticmatic
      %h2.tabs
        %ul
          %li
            %a{:href => '#'} tab 1
            %a.current{:href => '#'} tab 2
            %a{:href => '#'} tab 3
            %a{:href => '#'} tab 4
            %a.float-rigth{:href => '#'} tab 7
            %a.float-rigth{:href => '#'} tab 6
            %a.float-rigth{:href => '#'} tab 5